executor="sge"
walltime="4:00:00"
procs='OpenMP 2'

sge_request_options="-l mem_free=100M"

commands {
    bowtie2 {
	procs='OpenMP 8'
    }
    trim {
	sge_request_options="-l mem_free=1G"
	walltime="24:00:00"
	procs="OpenMP 8"
    }
    'decont.py' {
        procs='OpenMP 8'
        walltime="48:00:00"
    }
    'metaphlan' {
        sge_request_options="-l mem_free=1G"
	procs='OpenMP 8'
	walltime="24:00:00"
    }
    'kraken' {
	sge_request_options="-l mem_free=5G"
	walltime="24:00:00"
    }
} 
